* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: wadim;
  src: url(../fonts/wadim_giant.ttf);
}

@font-face {
  font-family: wadim-outline;
  src: url(../fonts/outline.ttf);
}

@font-face {
  font-family: wadim-italic;
  src: url(../fonts/italic.ttf);
}

body {
  font-family: wadim;
}


//   variables

$primary:#00B879;
$black:#000000;
$theme:#4D4D4D;
$white:#fff;

// button classes

.btn-theme {
  padding: 9px 18px !important;
  background: $primary;
  color: $white !important;
  border-radius: 12px;
  margin: 6px 10px;
  text-decoration: none;

  &:hover {
    background: lighten($primary, 5%);
  }
}

// Header css 

.header-main {
  position: relative;
  z-index: 2;

  .navbar {
    padding-top: 2.2rem;
  }

  .navbar-brand {
    @media(max-width:425px) {
      width: 220px;
    }
  }
}

.navbar-custom {
  .nav-item {
    .nav-link {
      font-size: 1.3rem;

      @media(min-width:1024px) {
        margin: 0 25px;
      }
    }
  }
}

.slider {
  position: relative;
  top: -102px;
  background: orange;
  height: 100vh;
  padding: 120px 15px 15px 15px;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .slideInner {
    padding-left: 20px;
    max-width: 50%;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 33px;
      line-height: 1;
      margin-bottom: 0;
    }

    .buy {
      font-size: 3rem;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      color: #212529;

      img {
        width: 53px;
        margin-right: 10px;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;

    @media(max-width:768px) {
      left: 40%;
    }
  }

  .swiper-pagination-bullet {
    width: 23px;
    height: 11px;
    border-radius: 37%;
    background: #9F6D22;
    opacity: 1;
    margin: 4px;

    &.swiper-pagination-bullet-active {
      background: #000 !important;
    }
  }
}



.swiper-container {
  width: 300px;
  height: auto;
  position: absolute;
  right: 8%;
  top: 37%;

  @media(max-width:768px) {
    top: 150px;
  }

}

.swiper-slide {
  color: #000;
  text-align: center;
  padding: 0px;
}

.swiper-wrapper {
  height: auto;
}

// games store

.game-store {
  padding: 120px 0;

  .storeTitle {
    font-size: 5rem;
    color: #D3DADF;
    display: flex;
    align-items: center;

    img {
      margin-left: 15px;
    }
  }

  .in-game-store {
    font-size: 41px;
    margin-top: -35px;
    color: #d3dadf;
  }

  .storeGamePhoto {
    .inner {
      display: flex;
      align-items: center;

      @media(max-width:1024px) {
        position: relative;
        top: 50px;
      }

      @media(max-width:1023px) {
        flex-wrap: wrap;
      }

      img {
        flex: 1;
        height: 400px;
        width: 100%;

        @media(max-width:1023px) {
          margin: 5px;
        }

        &:nth-child(1) {
          margin-right: -91px;

          @media(max-width:1023px) {
            margin: 5px;
          }
        }

        &:nth-child(3) {
          margin-right: -91px;

          @media(max-width:1023px) {
            margin: 5px;
          }
        }

        &:nth-child(2) {
          margin-top: -91px;

          @media(max-width:1023px) {
            margin: 5px;
          }
        }

        &:nth-child(4) {
          margin-top: -91px;

          @media(max-width:1023px) {
            margin: 5px;
          }
        }
      }

    }
  }
}

.section-divider {
  display: flex;
  align-items: center;

  .line {
    flex: 3;

    hr {
      width: 90%;
      height: 5px;
      background: #a59898;
    }
  }

  .title {
    flex: 1;
    color: #5E5E5E;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
}

.recommandation {
  background: #D2D9DD;

  .black {
    background: #292D36;
    position: relative;

    .swiper-container {
      position: relative;
    }

    .bottomInfo {
      box-shadow: -18px -9px 20px #0000008f;
    border-top: 1px solid wheat;
      background: #E9B747;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      .left {
        h2 {
          line-height: 0.8;
          margin-right: 50px;
          font-size: 3rem;
        }
      }

      .right {
        flex-basis: 160px;

        div {
          font-size: 5rem;
          text-align: center;
          transform: scale(2.2);
          color: #c39a3d;
        }
      }
    }
  }
  .lightSection{
    background: radial-gradient(grey, lightgrey);
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
}

//footer

footer {
  padding: 50px 0;
  border-top: 1px solid #D1D1D1;

  @media(max-width:768px) {
    text-align: center;
  }

  .footer-block {
    .copyright {
      margin-top: 60px;
      color: #888888;
      margin-left: 7px;
      font-size: 15px;

      @media(max-width:768px) {
        margin-top: 0;
      }

      span {
        font-size: 23px;
        vertical-align: sub;
        color: #000;
      }
    }

    p {
      margin-left: 5px;
      color: $theme;
      margin-top: 8px;
    }
  }

  .links {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
      line-height: 2rem;

      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $theme;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .social-title {
    text-transform: uppercase;
    font-family: fund-bold;
    color: $theme;
  }

  .social {
    a {
      text-decoration: none;
      margin: 0 0px;
      font-size: 2.6rem;

      &:nth-child(1) {
        color: #216AB4;
      }

      &:nth-child(2) {
        color: #FF0073;
      }

      &:nth-child(3) {
        color: #006B9C;
      }

      &:nth-child(4) {
        color: #00AEE3;
      }

      &:nth-child(5) {
        color: $black;
      }
    }
  }
}