* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: fund;
  src: url(../fonts//NimbusSanL-Reg.otf);
}

@font-face {
  font-family: fund-bold;
  src: url(../fonts/NimbusSanL-Bol.otf);
}

@font-face {
  font-family: fund-italic;
  src: url(../fonts/NimbusSanL-RegIta.otf);
}

body {
  font-family: fund;
}

.btn-theme {
  padding: 9px 18px !important;
  background: #00B879;
  color: #fff !important;
  border-radius: 12px;
  margin: 6px 10px;
  text-decoration: none;
}

.btn-theme:hover {
  background: #00d28a;
}

.header-main {
  background: url(../images/banner/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 1024px) {
  .header-main {
    background-position: 387% 59%;
  }
}

@media (max-width: 768px) {
  .header-main {
    background-position: 231% 77px;
  }
}

@media (max-width: 600px) {
  .header-main {
    background-position: 222px 76px;
  }
}

.header-main .navbar {
  padding-top: 2.2rem;
}

@media (max-width: 425px) {
  .header-main .navbar-brand {
    width: 220px;
  }
}

.header-main .slider {
  padding: 0 15px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-main .slider {
    height: 50vh;
  }
}

.header-main .slider .slideInfo h1 {
  color: #204476;
  font-family: fund;
  font-weight: revert;
}

.header-main .slider .slideInfo p {
  color: #4D4D4D;
}

.progress {
  border-radius: 0 10px 10px 0;
  background: #fff;
}

.progress .progress-bar {
  background: #00B879;
  border-radius: 0 10px 10px 0;
  text-align: right;
  padding-right: 15px;
}

.funded .sectitle {
  color: #4D4D4D;
  text-transform: capitalize;
  font-family: fund-bold;
}

.funded .search-panel {
  position: relative;
  width: 100%;
}

.funded .search-panel::before {
  content: '\1F50D';
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 11px;
}

.funded .search-panel .user-search {
  border-radius: 15px;
  position: relative;
  padding-left: 38px;
  font-size: 14px;
  outline: 0;
}

.funded .search-panel .user-search:focus {
  border: 1px solid #00B879;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.funded .all-fund {
  color: #4D4D4D;
  text-transform: capitalize;
  font-family: fund-bold;
  text-decoration: none;
  border-bottom: 3px solid #00B879;
}

.funded .all-fund:hover {
  color: #00B879;
}

.funded .fund-items {
  margin-top: 50px;
}

.funded .fund-items .box {
  background: #F7F7F7;
  margin-bottom: 25px;
}

.funded .fund-items .box .photo {
  height: 240px;
  background: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/noise_highlight.png");
}

.funded .fund-items .box .photo .profile {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 6px 20px #00000030;
          box-shadow: 1px 6px 20px #00000030;
}

.funded .fund-items .box .info {
  padding: 18px;
  position: relative;
}

.funded .fund-items .box .info .impression {
  position: absolute;
  right: 24px;
  top: 24px;
}

.funded .fund-items .box .info .impression svg {
  cursor: pointer;
  font-size: 24px;
  cursor: pointer;
}

.funded .fund-items .box .info .impression svg path.active {
  color: red;
}

.funded .fund-items .box .info .uname {
  text-transform: capitalize;
  color: #4D4D4D;
  font-size: 18px;
}

.funded .fund-items .box .info .user-with-versity {
  font-size: 13px;
  color: #888888;
}

.funded .fund-items .box .info .tag {
  font-size: 14px;
  color: #4D4D4D;
}

.funded .fund-items .box .info .desc {
  font-size: 14px;
  color: #8e8b8b;
  margin-top: 17px;
}

.funded .fund-items .box .info .fund-details {
  background: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  margin-top: 15px;
}

.funded .fund-items .box .info .fund-details .items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.funded .fund-items .box .info .fund-details .items:nth-child(2) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.funded .fund-items .box .info .fund-details .items h4 {
  color: #000000;
  font-size: 1.1rem;
}

.funded .fund-items .box .info .fund-details .items h5 {
  font-size: 1.05rem;
  color: #9c9c9c;
}

footer {
  padding: 50px 0;
  border-top: 1px solid #D1D1D1;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}

footer .footer-block .copyright {
  margin-top: 60px;
  color: #888888;
  margin-left: 7px;
  font-size: 15px;
}

@media (max-width: 768px) {
  footer .footer-block .copyright {
    margin-top: 0;
  }
}

footer .footer-block .copyright span {
  font-size: 23px;
  vertical-align: sub;
  color: #000;
}

footer .footer-block p {
  margin-left: 5px;
  color: #4D4D4D;
  margin-top: 8px;
}

footer .links {
  margin-left: 0;
  padding-left: 0;
}

footer .links li {
  list-style: none;
  line-height: 2rem;
}

footer .links li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #4D4D4D;
}

footer .links li a:hover {
  color: #00B879;
}

footer .social-title {
  text-transform: uppercase;
  font-family: fund-bold;
  color: #4D4D4D;
}

footer .social a {
  text-decoration: none;
  margin: 0 0px;
  font-size: 2.6rem;
}

footer .social a:nth-child(1) {
  color: #216AB4;
}

footer .social a:nth-child(2) {
  color: #FF0073;
}

footer .social a:nth-child(3) {
  color: #006B9C;
}

footer .social a:nth-child(4) {
  color: #00AEE3;
}

footer .social a:nth-child(5) {
  color: #000000;
}
/*# sourceMappingURL=app.css.map */