* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: wadim;
  src: url(../fonts/wadim_giant.ttf);
}

@font-face {
  font-family: wadim-outline;
  src: url(../fonts/outline.ttf);
}

@font-face {
  font-family: wadim-italic;
  src: url(../fonts/italic.ttf);
}

body {
  font-family: wadim;
}

.btn-theme {
  padding: 9px 18px !important;
  background: #00B879;
  color: #fff !important;
  border-radius: 12px;
  margin: 6px 10px;
  text-decoration: none;
}

.btn-theme:hover {
  background: #00d28a;
}

.header-main {
  position: relative;
  z-index: 2;
}

.header-main .navbar {
  padding-top: 2.2rem;
}

@media (max-width: 425px) {
  .header-main .navbar-brand {
    width: 220px;
  }
}

.navbar-custom .nav-item .nav-link {
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .navbar-custom .nav-item .nav-link {
    margin: 0 25px;
  }
}

.slider {
  position: relative;
  top: -102px;
  background: orange;
  height: 100vh;
  padding: 120px 15px 15px 15px;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slideInner {
  padding-left: 20px;
  max-width: 50%;
}

.slider .slideInner h1 {
  font-size: 5rem;
}

.slider .slideInner p {
  font-size: 33px;
  line-height: 1;
  margin-bottom: 0;
}

.slider .slideInner .buy {
  font-size: 3rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212529;
}

.slider .slideInner .buy img {
  width: 53px;
  margin-right: 10px;
}

.slider .swiper-pagination {
  position: absolute;
  bottom: 40px;
}

@media (max-width: 768px) {
  .slider .swiper-pagination {
    left: 40%;
  }
}

.slider .swiper-pagination-bullet {
  width: 23px;
  height: 11px;
  border-radius: 37%;
  background: #9F6D22;
  opacity: 1;
  margin: 4px;
}

.slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000 !important;
}

.swiper-container {
  width: 300px;
  height: auto;
  position: absolute;
  right: 8%;
  top: 37%;
}

@media (max-width: 768px) {
  .swiper-container {
    top: 150px;
  }
}

.swiper-slide {
  color: #000;
  text-align: center;
  padding: 0px;
}

.swiper-wrapper {
  height: auto;
}

.game-store {
  padding: 120px 0;
}

.game-store .storeTitle {
  font-size: 5rem;
  color: #D3DADF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-store .storeTitle img {
  margin-left: 15px;
}

.game-store .in-game-store {
  font-size: 41px;
  margin-top: -35px;
  color: #d3dadf;
}

.game-store .storeGamePhoto .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .game-store .storeGamePhoto .inner {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.game-store .storeGamePhoto .inner img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 400px;
  width: 100%;
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner img {
    margin: 5px;
  }
}

.game-store .storeGamePhoto .inner img:nth-child(1) {
  margin-right: -91px;
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner img:nth-child(1) {
    margin: 5px;
  }
}

.game-store .storeGamePhoto .inner img:nth-child(3) {
  margin-right: -91px;
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner img:nth-child(3) {
    margin: 5px;
  }
}

.game-store .storeGamePhoto .inner img:nth-child(2) {
  margin-top: -91px;
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner img:nth-child(2) {
    margin: 5px;
  }
}

.game-store .storeGamePhoto .inner img:nth-child(4) {
  margin-top: -91px;
}

@media (max-width: 1023px) {
  .game-store .storeGamePhoto .inner img:nth-child(4) {
    margin: 5px;
  }
}

footer {
  padding: 50px 0;
  border-top: 1px solid #D1D1D1;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}

footer .footer-block .copyright {
  margin-top: 60px;
  color: #888888;
  margin-left: 7px;
  font-size: 15px;
}

@media (max-width: 768px) {
  footer .footer-block .copyright {
    margin-top: 0;
  }
}

footer .footer-block .copyright span {
  font-size: 23px;
  vertical-align: sub;
  color: #000;
}

footer .footer-block p {
  margin-left: 5px;
  color: #4D4D4D;
  margin-top: 8px;
}

footer .links {
  margin-left: 0;
  padding-left: 0;
}

footer .links li {
  list-style: none;
  line-height: 2rem;
}

footer .links li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #4D4D4D;
}

footer .links li a:hover {
  color: #00B879;
}

footer .social-title {
  text-transform: uppercase;
  font-family: fund-bold;
  color: #4D4D4D;
}

footer .social a {
  text-decoration: none;
  margin: 0 0px;
  font-size: 2.6rem;
}

footer .social a:nth-child(1) {
  color: #216AB4;
}

footer .social a:nth-child(2) {
  color: #FF0073;
}

footer .social a:nth-child(3) {
  color: #006B9C;
}

footer .social a:nth-child(4) {
  color: #00AEE3;
}

footer .social a:nth-child(5) {
  color: #000000;
}
/*# sourceMappingURL=app.css.map */